<!-- Questions-view -->

<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link th:href="@{/css/survey.css}" th:rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
          rel="stylesheet">

    <link rel="stylesheet" href="../static/css/survey.css">

    <title>Fragebogenansicht</title>
</head>

<body>

<!-- Page title -->
<div class="header">
    <h3 th:text="${questionsView.title}"></h3>
</div>

<div class="content">
    <form action="#" th:action="@{/button-question-handler}" th:object="${questionsView}" method="get"
          style="width: 100%">
        <table class="tabelletext">
            <!-- Heading: Questions -->
            <thead>
            <tr>
                <th style="border-bottom: 0"><b style="font-size: 30px">Fragen</b></th>
            </tr>
            </thead>
            <tbody style="padding: 10px">

            <!-- hidden input field to store which button was clicked -->
            <input type="hidden" name="buttonQuestionHandler" th:value="${buttonQuestionHandler}"/>

            <tr th:each="question, questionStat : *{questions}">
                <td th:text="${question.questionText}"></td>
                <td style="text-align: right">
                    <!-- hidden input field to store the surveyId -->
                    <input type="hidden" name="surveyId" th:value="${question.surveyId}"/>

                    <button type="submit" class="optbutton" name="buttonQuestionHandler"
                            th:value="'delete_' + ${question.questionId}">
                        <span class="material-symbols-outlined">delete</span>
                    </button>
                    <button type="submit" class="optbutton" name="buttonQuestionHandler"
                            th:value="'edit_' + ${question.questionId}">
                        <span class="material-symbols-outlined">edit</span>
                    </button>
                </td>
            </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
    </form>
</div>


<!-- Cancel and Save Buttons -->
<div class="footer">

    <div class="col-25">
        <form method="get" action="#" th:action="@{/survey-admin}">
        <button class="optbutton" title="Zurück">
            <span class="material-symbols-outlined">arrow_back</span>
        </button>
        </form>
    </div>

    <form method="post" action="#" th:object="${questionsView}" th:action="@{/add-question}" class="col-75" style="text-align: right;">
        <!-- hidden input field to store the surveyId -->
        <input type="hidden" name="surveyId" th:value="${questionsView.surveyId}"/>

        <button class="formularabsenden">+ Frage hinzufügen</button>
        <!-- Button to add a section. This might be a future feature -->
        <button class="formularabsenden" disabled>+ Abschnitt hinzufügen</button>
    </form>
</div>

</body>
</html>