<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link th:href="@{/css/survey.css}" th:rel="stylesheet" type="text/css"/>
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        rel="stylesheet">
  <style>
    body {
      text-align: center;
    }

    .cat {
      margin-top: 120px;
    }

    pre {
      white-space: pre;
      font-family: monospace;
    }
  </style>
</head>

<body>
<div class="cat">
    <pre>
        <!-- please do not delete this ascii-art, on the screen it looks correct -->
        _   _
        ( \ / )
         __\  Y /,-')
       (__     .-'
        |   (
        [___]
        |oo |
      ,' \  |
    < ___/  |
        |   |
        |   |
        |   |
        |   |
      _,-/_._  \,_
       _.-"^`  //   \    `^"-.,__
       \     ,//     \          /
        `\,-":;       ;  \-.,_/'
       ||       |   ;
       ||       ;   |
       :\      /    ;
       \`----'    /
        `._____.-'
        | | |
        __| | |__
        /    |    \
        `""""`""""`
    </pre>
</div>

<div>
  <h1>Diese Umfrage ist bereits beendet!</h1>
  <p>Bitte schließe diese Seite.</p>
</div>
</body>
</html>
